<% @title = "Historic events" %>
<% @page_action = link_to("Add new event", new_event_path)  %>

<div id="events">

</div>
<ul>
<% @events.each do |event| %>
  <li>
    <%= event.name %> <%= link_to "Edit", edit_event_path(event) %>, <%= link_to "Destroy", event_path(event), :method => :delete %>
  </li>
<% end %>
</ul>
<table border="1" rules="all">
  <thead>
    <tr>
      <th>Events/Years</th>
      <% (1947..2009).each do |year| %>
        <td colspan="12"><%= year %></td>
      <% end %>
    </tr>
    <% Event::EventTypes.each do |type| %>
      <tr>
        <% Event.find_by_type(type).each do |event| %>
          
        <% end %>
      </tr>
    <% end %>
    
  </thead>
</table>